@font-face {
    font-family: 'Rubik';
    src: url(assets/fonts/Rubik-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box; 
}

body {
   min-height: 100vh; 
   margin: 0;
   padding: 0; 
   display: flex; 
   flex-direction: column; 
   justify-content: space-between; 
   font-family: 'Rubik'; 
   font-size: 16px;      
}

html {
    scroll-behavior: smooth; 
}

.header { 
    /* border: 1px solid red;  */
}

.main {
    vertical-align: bottom ;
    /* border: 1px solid black;  */
}

.footer { 
    /* border: 1px solid burlywood;  */
}

.container {
    max-width: 1440px; 
    margin: 0 auto; 
    /* border: 1px solid orange; */
}

.main-container {
    display: flex; 
    flex-wrap: wrap; 
    padding: 20px;
    /* border: 1px rebeccapurple; */
}

.section {
    width: 50%; 
    /* border: 1px solid rebeccapurple; */
}

@media (max-width: 768px) {
    .section {
        width: 100%; 
    }
}

.nav-list {
    max-width: 100%;
    display: flex; 
    justify-content: center; 
    /* align-items: center; */
    list-style: none;       
}

.nav-link {
    padding: 0 20px; 
    line-height: 50px; 
    color: black; 
    text-decoration: none; 
    transition: .3s; 
}

.markdown-link {
    color: black; 
    text-decoration: none; 
}
.markdown-item :hover {
    color: red; 
}

.name {
    /* border: 1px solid red;  */
}

.photo {
    width: 110px; 
    height: 50; 
}

.footer-list {
    display: flex; 
    justify-content: flex-start; 
    align-items: center;
    list-style: none; 
}

.footer-item {
    display: flex;
    justify-content: flex-end;   
}
.github-link {
    padding: 0 10px; 
    text-decoration: none; 
}

.school-logo {
    width: 70px; 
    height: 35px; 
    display: flex; 
    justify-content:last baseline; 
    text-decoration: none; 
}
.name {
   /* text-transform: uppercase;  */
}
.nav-item a:hover {
    color: red; 
}

.profile {
    border: 1px solid blue;
}
.github-link:hover {
    color: red;
}

