@font-face {
    font-family: 'Rubik';
    src: url(assets/fonts/Rubik-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box; 
}

body {
   min-height: 100vh; 
   margin: 0;
   padding: 0; 
   display: flex; 
   flex-direction: column; 
   justify-content: space-between; 
   font-family: 'Rubik'; 
   font-size: 16px;      
}

html {
    scroll-behavior: smooth; 
}

.header { 
    /* border: 1px solid red;  */
}

.main {
    margin-bottom: auto;
    /* vertical-align: bottom ; */
    /* border: 1px solid black;  */
}

.container {
    max-width: 1440px; 
    margin: 0 auto; 
    /* border: 1px solid orange; */
}

.main-container {
    display: flex; 
    flex-wrap: wrap; 
    padding: 20px;
    /* border: 1px rebeccapurple; */
}

.section {
    width: 50%; 
    /* border: 1px solid rebeccapurple; */
}
.profile-section {
    display: flex;
    /* justify-content: space-around;  */
    /* padding: 100px;  */
    width: 100%;
    /* border: 1px solid brown; */
}

.name-status {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;  */
    /* align-content: center;  */
    text-align: center; 
}

.photo {
    width: 200px; 
    height: 140px; 
    padding: 0 0 0 50px;
}

.status {
    /*text-align:left;
    padding: 0 0 0 8px;*/
    /* border: 1px solid blueviolet; */
}

.name {
    /* border: 1px solid red;  */
}

@media (max-width: 768px) {
    .section {
        width: 100%; 
    }
    /*.nav-list {
        width: 100%;
    }*/
}

.nav-list {
    display: flex; 
    justify-content: center;  
    align-items: center;
    /* max-width: 100%; */
    list-style: none;       
}

.nav-link {
    padding: 0 20px; 
    line-height: 50px; 
    color: black; 
    text-decoration: none; 
    transition: .3s; 
}

.markdown-link {
    color: black; 
    text-decoration: none; 
}
.markdown-item :hover {
    color: red; 
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* border: 1px solid firebrick; */
}

.github-link {
    padding: 0 10px; 
    text-decoration: none; 
    color: black;
}

.school-logo {
    width: 70px; 
    height: 35px; 
}

.nav-item :hover {
    color: red; 
}

.github-link:hover {
    color: red;
}

